@model HistoriaClinica_Entrega2.Models.Persona
@{
    ViewBag.Title = "Persona";
}

<html>
<head>
    <title>Persona</title>
    <link rel="stylesheet" href="~/Content/PersonaVista.css" />
</head>
<body>
    <div>
        <h3>Paciente registrado con éxito</h3>
        <form action="Persona/Persona" method="post">
            <table>

                <tr>
                    <td><label>Identificación: @Model.Identificacion </label></td>
                </tr>
                <tr>
                    <td><label>Nombre: @Model.Nombre</label></td>
                </tr>
                <tr>
                    <td><label>Apellidos: @Model.Apellidos</label></td>
                </tr>
                <tr>
                    <td><label>Fecha nacimiento: @Model.FechaNacimiento.ToString("dd/MM/yyyy")</label></td>
                </tr>
                <tr>
                    <td><label>Tipo de Regimen: @Model.Trabajador.TipoRegimen</label></td>
                </tr>
                <tr>
                    <td><label>Semanas Cotizadas: @Model.Trabajador.SemanasCotizadas</label></td>
                </tr>
                <tr>
                    <td><label>fecha de Ingreso: @Model.Trabajador.FechaIngreso.ToString("dd/MM/yyyy")</label></td>
                </tr>
                <tr>
                    <td><label>fecha de Ingreso a la EPS: @Model.Trabajador.FechaIngresoEPS.ToString("dd/MM/yyyy")</label></td>
                </tr>
                <tr>
                    <td><label>EPS: @Model.Trabajador.EPS</label></td>
                </tr>
                <tr>
                    <td><label>Historia Clinica: @Model.InformacionPaciente.HistoriaClinica</label></td>
                </tr>
                <tr>
                    <td><label>Cantidad de Enfermedades: @Model.InformacionPaciente.CantidadEnfermedades</label></td>
                </tr>
                <tr>
                    <td><label>Enfermedad más Relevante: @Model.InformacionPaciente.EnfermedadRelevante</label></td>
                </tr>
                <tr>
                    <td><label>Tipo de Afiliación: @Model.Trabajador.TipoAfiliacion</label></td>
                </tr>
                <tr>
                    <td><label>Coston en los tratamientos: @Model.InformacionPaciente.CostosTratamientos $</label></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>

